body {
  font-family: 'Roboto', sans-serif;
  color: #747704;
  font-weight: 300;
}

img, embed, object, video {
  max-width: 100%;
}

* {
  display: flex;
  flex-wrap: wrap;
}
nav a, button {
  min-width: 48px;
  min-height: 48px;
}

.hr-margin {
  margin-top: 1px;
  margin-bottom: 20px;
}

.vacation-image-margin {
   margin-bottom: 10px;
}

/*
  Classes to organize the content.
*/
.pix-of-me {

}
.text-content {

}
.pix-1 {

}
.pix-2 {

}
.pix-3 {

}

/*
  Some images were displayed rotated -90 degrees. The below code corrects
  this by rotating the image 90 degrees.
*/
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*
  The acknowledgement in the footer should be right aligned, italics,
  small font, and blue.
*/
.acknowledgments-style {
  font-size: 10px;
  margin-top: 20px;
  margin-right: 5px;
  color: blue;
}

.acknowledgments-item-style {
  color: green;
}

/*
  This class is for the images of the kids. These images are right beside the
  image of me.
*/
.thumbnail-img {
    max-width: 135px;
}

/*
  I want to display a small image of the kids, one above the other. The images
  wouldn't align properly at first. I googled until I found a solution. The
  code below aligns the images vertically and leaves a space between them.
  The name is very specific, primarily because of "margin-top". I doubt the
  value of "margin-top" will be the same in each case.
*/
.vert-align-kids-pix {
  display: block;
}

.vert-align-kids-pix-bottom {
  margin-top: 2px;
  vertical-align: bottom;
}

.portrait {
  width: 100%;
}

.hr-margin {
  margin-top: 1px;
  margin-bottom: 20px;
}

/*
  media queries
*/
@media only screen and (max-width: 400px){
  h1 {font-size: 75%;}
  h4 {font-size: 50%;}
}

/*
  Text transformations
*/
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-muted {
  color: #BCBBBB
}
.text-thin {
  font-weight: 100;
}
.text-subscript {
  font-size: .25em;
}
.title-logo {

}
.title-super {
    font-size: 60px;
}

/* header */
.header-main {
  width: 100%;
}
.header-top-margin {
  margin-top: 5px;
}
.header-my-title {
  margin-top: .15em;
  padding-bottom: 0;
  border-bottom: 0;
}
.header-my-name {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

/*
  Content
*/
.content {

}

/*
*/
.flush-left {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.flush-right {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

/*
  box size definitions
*/
/* include borders, except margin, in size of box */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
}

.flexible {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  margin: 0;
}
.col-md_1 {
  width: 8%;
  margin: 0;
}
.col-md-2 {
  width: 16%;
  margin: 0;
}
.col-md-3 {
  width: 25%;
  margin: 0;
}
.col-md-4 {
  width: 33%;
  margin: 0;
}
.col-md-5 {
  width: 41%;
  margin: 0;
}
.col-md-6 {
  width: 50%;
  margin: 0;
}
.col-md-7 {
  width: 58%;
  margin: 0;
}
.col-md-8 {
  width: 67%;
  margin: 0;
}
.col-md-9 {
  width: 75%;
  margin: 0;
}
.col-md-10 {
  width: 83%;
  margin: 0;
}
.col-md-11 {
  width: 91%;
  margin: 0;
}
.col-md-12 {
  width: 100%;
  margin: 0;
}

.box-align-right {
}
/*
  Debugging tools.
*/
.debug-show-all-boundaries {
  margin: 1px solid red !important;
  padding: 1px solid green !important;
  border: 1px solid blue !important;
}
.debug-show-margins {
  margin: 1px solid red !important;
}
.debug-show-padding {
  padding: 1px solid green !important;
}
.debug-show-border {
  border: 1px solid blue !important;
}
