/* include borders, except margin, in size of box */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #747704;
  font-weight: 300;
}
img, embed, object, video {
  max-width: 100%;
}

/*
figure {
  display: flex;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
*/

.container {
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 100%;
}
.box-header-logo {
  width: 25%;
}
.box-header-my-name {
  width: 75%;
}

/*
  The acknowledgement in the footer should be right aligned, italics,
  small font, and blue.
*/

.acknowledgments_style {
  font-size: 10px;
  margin-top: 20px;
  margin-right: 5px;
  color: blue;
}
.acknowledgments_item_style {
  color: green;
}

/*
  This class is for the images of the kids. These images are right beside the
  image of me.
*/

.thumbnail_img {
  max-width: 135px;
}

/*
  Content
*/
.wrap_text {
  float: left;
}
.img_1_me_boundary {
  width: 50%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 3px;
}
.div_figure_me_boundary {
  width: 50%;
  height: 105;
}
.big_enough {

}
.me_text {
  padding-left: 3px;
  padding-right: 3px;
}

/*
  media queries
*/

@media only screen and (max-width: 350px) {
  .header-my-title {font-size: 80%;}
}
@media only screen and (min-width: 900px) {
  .section-questions {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .big_enough {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}


/*
  Text transformations
*/

.text_uppercase {
  text-transform: uppercase;
}
.text_lowercase {
  text-transform: lowercase;
}
.text_capitalize {
  text-transform: capitalize;
}
.text_right {
  text-align: right;
}
.text_left {
  text-align: left;
}
.text_muted {
  color: #BCBBBB
}
.text_thin {
  font-weight: 100;
}
.text_subscript {
  font-size: .25em;
}
.text_underline {
  text-decoration: underline;
}
.text_justify {
  text-align: justify;
}
.title_logo {}
.title_super {
  font-size: 60px;
}

/* header */

.header_main {
  width: 100%;
}
.header_top_margin {
  margin-top: 5px;
}
.header_my_title {
  margin-top: 1px;
}
.header_my_name {
  margin-top: 5px;
  margin-bottom: 0;
}
.section_questions {}

/*
*/

.flush_left {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.flush_right {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

/*
Bottom image
*/
.bottom_image_container {
  width: 100%;
}
.bottom_image_centered {
  display:flex;
  margin-left: auto;
  margin-right: auto;
}
.bottom_image_layout {
    display : block;
    margin : auto;
}

/*
  Debugging tools.
*/

.debug_show_all_boundaries {
  border: 1px solid blue !important;
  padding: 1px solid green !important;
  margin: 1px solid red !important;
}
.debug_show_margins {
  margin: 1px solid red !important;
}
.debug_show_padding {
  padding: 1px solid green !important;
}
.debug_show_border {
  border: 1px solid blue !important;
}
 bv
